*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}



.container{
    max-width: 100rem;
    margin: 0 auto;
    padding:0 119px;

}
.button-group button{
background-color: #5955b3;
color: #fff;
border-radius: 9px;
padding: 8px 6px;
border: 1px solid black;



}
.button-group button:hover{


    background-color: #fff;
    color: #5955b3;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.grow-list{
    flex-grow: 1;
    padding-left: 60px;
}


.list{

 
    display: flex;
    align-items: center;
    list-style: none;
    gap: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}


.list li{
    cursor: pointer;
       margin-right: 35px;
}



.list li:hover{
    text-decoration: underline;
    color: #5955b3;
}

.nav-btn{
    padding: 14px 28px;
    background-color: #5955b3;
    border: none;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.nav-btn:hover{

    
    background-color: #fff;
    color: #5955b3;
    border: 1px solid black; 
}

.banner-container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
}
.heading-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    color: #3c2f60;

}
.heading-text span{

    color: #5955b3;
}


.description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #828282;
    margin-top: 28px;
}


.nav-btn{
    margin-top: 72px;

}
